<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Edit Contact</title>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>

	<div id="helloHeader">
		<h2 th:inline="text"><i class="far fa-user"></i>  Hello [[${#httpServletRequest.remoteUser}]]</h2>
		<form method="POST" th:action="@{/logout}">  
			<button type="submit">
				Log Out <i class="fas fa-sign-out-alt"></i>
			</button>
		</form>
	</div>

	<div id="coverImage">
		<h1><i class="fas fa-user-edit"></i> Edit Contact</h1>
	</div>

	<div id="contactForm">
		<form th:action="@{/updateContact}" method="POST" th:object="${contact}">
			<p>Update new image:</p>
			
			<input type="text" th:field="*{contactName}"  name="contactName" id="contactName" placeholder="old Name"><br>
			<div class="validationError" th:if="${#fields.hasErrors('contactName')}" th:errors="*{contactName}">Contact name Error</div>
			
			<input type="text" th:field="*{phoneNumber}" name="phoneNumber" id="phoneNumber" placeholder="old Phone Number"><br>
			<div class="validationError" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone number Error</div>
			
			<input type="email" th:field="*{email}" name="email" id="email" placeholder="old Email "><br>
			
			<p>Choose group:</p>
			<select name="groupType" id="groupType">
				<option th:each="groupType : ${T(com.example.entities.ContactGroup).values()}"
					th:value="${groupType}"
					th:text="${groupType.toString().toLowerCase()}">
				</option>
			</select><br>
			
			<input type="text" th:field="*{address}" name="address" id="address" placeholder="old Address"><br>
			<input type="hidden" th:field="*{contactId}">

			<input type="submit" name="submit" value="Save">
		</form>	
	</div>

</body>
</html>