<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<script type="text/javascript">
			function redirectTo(address){
			     window.open('https://maps.google.com/maps?q='+address);			
			}
		</script>
</head>
<body>

	<div id="helloHeader">
		<h2 th:inline="text"><i class="far fa-user"></i>  Hello [[${#httpServletRequest.remoteUser}]]</h2>
		<form method="POST" th:action="@{/logout}"> 
			<button type="submit">
				Log Out <i class="fas fa-sign-out-alt"></i>
			</button>
		</form>
	</div>

	<div id="coverImage">
		<h1><i class="fas fa-list-alt"></i> Contacts</h1>
	</div>

	<div id="nav">

			<a th:href="@{/saveContact}"><button type="submit" id="add">
				<i class="fas fa-plus-circle"></i> Add Contact
			</button></a>

		<div id="search">
			<form th:action="@{/home/searchContacts}" method="POST"> 
				<input type="search" name="searchField" id="searchField" placeholder="Search">
				<button id="searchButton">
					<i class="fas fa-search"></i>
				</button>
			</form>
		</div>
	</div>

	<div id="contactTableDiv">
		
		<table class="tables">
		
			<tr class="tableHeader">
				<th>&nbsp;</th>
				<th>Photo</th>
				<th>Name</th>
				<th>Phone Number</th>
				<th>Email</th>
				<th>Group</th>
				<th>Address</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			
			<tr th:each="contact,i : ${contacts}" >
				<td class="numeration" th:text="${i.count}"></td>
				<td><img alt="zamalSlika" th:src="@{${contact.photoPath}}"/></td>
				<td th:text="${contact.contactName}"></td>
				<td th:text="${contact.phoneNumber}"></td>
				<td th:text="${contact.email}"></td>
				<td th:text="${contact.groupType.toString().toLowerCase()}"></td> 
				<td th:text="${contact.address}" onclick="redirectTo(this.innerHTML);"></td>
				<td><form th:action="@{/updateContact}" method="GET"><button class="tableButton" type="submit" name="editButton" th:value="${contact.contactId}">Edit</button></form></td>
				<td><form th:action="@{/home/deleteContact}" method="GET"><button class="tableButton" type="submit" name="deleteButton" th:value="${contact.contactId}">Delete</button></form></td>
			</tr>
			
		</table>
		
	</div>

</body>
</html>