<!DOCTYPE html>
<html id="indexBg" xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>

	<div id="landingHeader">
		<h1><i class="fas fa-address-book"></i> Phonebook</h1> 
	</div>

	<div id="landingWrapper">

		<div id="registrationForm">
			<form th:action="@{/welcome/register}" method="POST" th:object="${user}">
				<input type="text" th:field="*{username}" name="username" id="username" placeholder="Username" required="required">
				<div class="validationError" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
				
				<input type="email" th:field="*{email}" name="email" id="email" placeholder="Email" required="required"><br>
				
				<input type="password" th:field="*{password}" name="password" id="password" placeholder="Password" required="required"><br>
				<div class="validationError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
				
				<input type="submit" name="submit" value="Sign Up">
			</form>

		</div>

		<div id="loginForm">
			<form th:action="@{/welcome/login}" method="POST" th:object="${user}">
				<input type="text" th:field="*{username}" name="username" id="username" placeholder="Username" required="required">
				<input type="password" th:field="*{password}" name="password" id="password" placeholder="Password" required="required"><br>

				<input type="submit" name="submit" value="Log In">
			</form>

		</div>

	</div>

</body>
</html>