<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Search Contact</title>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>

	<div id="helloHeader">
		<h2 th:inline="text"><i class="far fa-user"></i>  Hello [[${#httpServletRequest.remoteUser}]]</h2>
		<form method="POST" th:action="@{/logout}"> 
			<button type="submit">
				Log Out <i class="fas fa-sign-out-alt"></i>
			</button>
		</form>
	</div>

	<div id="coverImage">
		<h1><i class="fas fa-search-plus"></i> Search Contact</h1>
	</div>

	<div id="searchContactsTableDiv">
		
		<table class="tables">
			<tr class="tableHeader">
				<th>&nbsp;</th>
				<th>Photo</th>
				<th>Name</th>
				<th>Phone Number</th>
				<th>Email</th>
				<th>Group</th>
				<th>Address</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			
			<tr th:each="contact,i : ${searchResults}" >
				<td class="numeration" th:text="${i.count}"></td>
				<td><img alt="photo" th:src="@{'/contact-book-images/' + ${contact.photoFilename}}" class="contactPhoto"/></td>
				<td th:text="${contact.contactName}"></td>
				<td th:text="${contact.phoneNumber}"></td>
				<td th:text="${contact.email}"></td>
				<td th:text="${contact.groupType.toString().toLowerCase()}"></td> 
				<td th:text="${contact.address}" onclick="openMap(this.innerHTML);"></td>
				<td><form th:action="@{/updateContact}" method="GET"><button class="tableButton" type="submit" name="editButton" th:value="${contact.contactId}">Edit</button></form></td>
				<td><form th:action="@{'/home/deleteContact/' + ${contact.photoFilename}}" method="GET"><button class="tableButton" type="submit" name="deleteButton" th:value="${contact.contactId}">Delete</button></form></td>
			</tr>
			
		</table>

	</div>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>